*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* color styles */

:root{
    --header: #0084FD;
    --footer: #333333;
    --even: #9792E4;
    --card-bg: #B5DDFF;
    --light-color: #FFFFFF;
}

/* body  */

body{
    font-family: 'PT Sans', sans-serif ;
    background-color: var(--light-color);
}


/* text general rules */

p,em{
    line-height: 1.7rem;
}

h2,p{
    padding:30px 0px;
}

/* a */

a{
    text-decoration: none;
}

/* img */

img{
    max-width: 100%;
}

/* utility */

.text-center{
    text-align: center;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.column{
    flex-flow: column nowrap;
}
.j-center{
    justify-content: center;
}
.j-between{
    justify-content: space-between;
}
.a-center{
    align-items: center;
}

.gap-40{
    gap:40px;
}
/* container */

.container{
    margin: 0 auto;
    padding: 15px;
}

section .container{
    padding: 40px;
}

/* header */

header{
    background-color: var(--header);
    position:fixed;
    top:0;
    height: 80px;
    width:100%;
    z-index: 10;
    color:var(--light-color);
}

header ul{
    list-style: none;
    display:none;
}

header ul li{
    padding: 0px 10px;
}

/* main */

main{
    margin-top: 80px;
}

/* card */

.card{
    width:100%;
    border-radius: 10px;
    margin-bottom:40px;
    padding:40px;
}

#application{
    color:var(--header);
}

#application i{
    font-size:4rem;
}

#card-left{
    padding-bottom:0;
}

#card-left img{
    display:block;
}
#card-left h2, #card-left p{
    text-align: left;
}


/* buttons */

.btn{
    border-radius: 25px;
    display:inline-block;
}

.pad-btn{
    padding: 10px 50px;
}

.round{
    width:50px;
    height:50px;
    line-height: 50px;
    border-radius: 50%;
}

/* different bg and text colors */

.white-bg{
    color:black;
    background-color: var(--light-color);
}

.even{
    background-color: var(--even);
    color:var(--light-color);
}
 
.blue{
    color:var(--light-color);
    background-color: var(--header);
}

.light-blue-bg{
    background-color: var(--card-bg);
}

.purple-bg{
    background-color: var(--even);
}

.white-bg{
    background-color: var(--light-color);
}

.purple{
    color:var(--even);
}

.white{
    color:var(--light-color);
}

#gold{
    color:gold;
}
/* partner icon */


.icon{
    height:30vw;
    width:30vw;
    border-radius:100%;
    overflow:hidden;
}


.icon img{
    width:100%;
    height:100%;
    object-fit: cover;
}

/* footer */

footer{
    background-color: var(--footer);
}

/* responsive mobile 768px  to 992px*/

@media screen and (min-width:768px) and (max-width: 992px){
    .container{
        min-width: 768px;
        max-width: 992px;
        width:100%;
    }
}
/* responsive tablet 720px */

@media screen and (min-width:992px) and (max-width: 1200px){

    /* intro  */

    .container{
        max-width: 1200px;
        width:100%;
    }

    #intro div.container.d-flex .d-flex:first-child{
        flex-flow:row nowrap;
        justify-content: space-between;
    }

    #card-left{
        width: calc((100% / 3) * 2 - 40px);
    }

    #card-right{
        width: calc((100% / 3) - 40px);
    }

    /* partners section */

    #partner{
        display:flex;
        flex-flow: row nowrap;
    }
    #partners div.pad-text-10{
        width:40vw;
        padding-left:10vw;
    }

    /* benefits section */

    #benefits .wrapper{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #benefits div.card.white-bg.purple{
        width: calc((100% / 2) - 40px);
    }

    /* about us section */

    #about-us div.card{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

/* responsive desktop 1200px */

@media screen and (min-width:1200px){
    /* intro  */

    .container{
        max-width: 1200px;
        width:100%;
    }

    #intro div.container.d-flex .d-flex:first-child{
        flex-flow:row nowrap;
        justify-content: space-between;
    }

    .desktop-flexed{
        display:flex;
        flex: row nowrap;
        justify-content: space-between;
    }

    .desktop-flexed img{
        width:50%;
    }

    #card-left{
        width: calc((100% / 3) * 2 - 40px);
    }

    #card-right{
        width: calc((100% / 3) - 40px);
    }

    /* planning */

    .c-flex{
        display:flex;
        flex-flow:column nowrap;
    }

    #planning .d-flex{
        flex-flow: row nowrap;
    }

    div.c-flex div.card.white-bg{
        margin:200px 0px 0px 50px;
    }

    /* partners section */

    #partner{
        display:flex;
        flex-flow: row nowrap;
    }
    #partners div.pad-text-10{
        width:40vw;
        padding-left:10vw;
    }

    /* benefits section */

    #benefits .wrapper{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #benefits div.card.white-bg.purple{
        width: calc((100% / 2) - 40px);
    }

    /* about us section */

    #about-us div.card{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

@media screen and (min-width:1200px){
    #hamburger{
        display:none;
    }

    #navbar{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    #navbar a{
        color:white;
    }
}