*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* color styles */

:root{
    --header: #0084FD;
    --footer: #333333;
    --even: #9792E4;
    --card-bg: #B5DDFF;
    --light-color: #FFFFFF;
}

/* body  */

body{
    font-family: 'PT Sans', sans-serif ;
    background-color: var(--light-color);
}


/* text general rules */

h2{
    font-size:3rem;
}

p{
    font-size:1.8rem;
}

h2,p{
    padding:30px 0px;
}

/* a */

a{
    text-decoration: none;
}

/* img */
img{
    max-width: 100%;
}

/* utility */

    .text-center{
        text-align: center;
    }

    .even{
        background-color: var(--even);
        color:var(--light-color);
    }

    .white-bg{
        background-color: var(--light-color);
        color:var(--footer);
        padding:40px;
        border-radius: 25px;
        text-align: center;
    }

    .card{
        background-color: var(--card-bg);
    }

    .d-flex{
        display: flex;
        flex-flow: row wrap;
    }

    .row{
        flex-flow: row nowrap;
    }

    .column{
        flex-flow: column nowrap;
    }

    .j-center{
        justify-content: center;
    }

    .j-between{
        justify-content: space-between;
    }

    .a-center{
        align-items: center;
    }

    /* container */

    .container{
        margin: 0 auto;
        max-width:768px;
        padding: 15px;
    }

    section .container{
        padding: 60px;
    }

/* header */

header{
    background-color: var(--header);
    position:fixed;
    top:0;
    height: 80px;
    width:100%;
    z-index: 10;
    color:var(--light-color);
}

header ul{
    list-style: none;
    display:none;
}

header ul li{
    padding: 0px 10px;
}

/* main */

main{
    margin-top: 80px;
}


/* buttons */

    .btn{
        border-radius: 25px;
        display:inline-block;
    }

    .pad-btn{
        padding: 10px 120px;
    }

    .white{
        color:black;
        background-color: var(--footer);
    }

    .blue{
        color:var(--light-color);
        background-color: var(--header);
    }

    .purple{
        color: var(--light-color);
        background-color: var(--even);
    }

    .round{
        height:50px;
        width: 50px;
        line-height: 50px;
        margin-top:20px;
        color:var(--footer);
    }
/* card */

    .card{
        width:100%;
        background-color: var(--card-bg);
        border-radius: 10px;
        margin-bottom:40px;
        padding:40px;
    }

    .card h2{
        color:var(--header);
    }

    .card.text-center i{
        font-size:6rem;
        color:var(--header);
    }
    
    #card-left h2, #card-left p{
        text-align: left;
    }
    
    #card-right img{
        position:relative;
        bottom:-45px;
    }

/* footer */

footer{
    background-color: var(--footer);
}

/* responsive mobile 768px */

/* responsive tablet 768px */

/* responsive desktop 768px */